nptyping==1.4.4
numpy
pandas
brainflow
mne
jupyter
yasa
influxdb
paho-mqtt
websockets
google-cloud-storage
edfio
firebase-admin
pytz
xgboost
lightgbm
python-dotenv
joblib
catboost
tensorflow
keras
pyedflib
tqdm
paramiko
shap
pylsl
pulearn
unstructured
pdfminer
pymupdf
pydrive
langchain
langchain_community